langchain
python-dotenv
ipykernel
beautifulsoup4
langchain_community
faiss-cpu
streamlit
langgraph
langchain-ollama
langchain-openai
langchain-groq
langchain-text-splitters
pypdf
langchain-core
langsmith
opencv-python
colorama
tavily-python
streamlit